<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nescaupower.br.com.keepsoft">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.Usuario.PaginaInicialActivity" />
        <activity
            android:name=".Views.Login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Views.Usuario.CadastroUsuarioActivity" />
        <activity
            android:name=".Views.Projeto.CadastroProjetoActivity"
            android:label="@string/title_activity_cadastro_projeto" />
        <activity
            android:name=".Views.Projeto.DetalhesProjetoActivity"
            android:label="Projeto" />
        <activity android:name=".Views.Usuario.AlterarPerfilActivity" />
        <activity android:name=".Views.Usuario.AlterarPerfilSenhaActivity" />
        <activity android:name=".Views.Projeto.EditarProjetoActivity"></activity>
    </application>

</manifest>